#### Name: Nihal Azman
#### ID: i23b0034s14

In [1]:
import pandas as pd

#### Practice problem 4.1

In [4]:
fact_table = pd.read_excel(r'e-com-sales-out.xlsx', sheet_name='Fact_table', engine='openpyxl')
trans_dim = pd.read_excel(r'e-com-sales-out.xlsx', sheet_name='Trans_dim', engine='openpyxl')
item_dim = pd.read_excel(r'e-com-sales-out.xlsx', sheet_name='Item_dim', engine='openpyxl')
coustomer_dim = pd.read_excel(r'e-com-sales-out.xlsx', sheet_name='Customer_dim', engine='openpyxl')
time_dim = pd.read_excel(r'e-com-sales-out.xlsx', sheet_name='Time_dim', engine='openpyxl')
store_dim = pd.read_excel(r'e-com-sales-out.xlsx', sheet_name='Store_dim', engine='openpyxl')

#### Practice problem 4.2

In [5]:
mean_price=fact_table['total_price'].mean()
print(mean_price)

1145.033275

#### Practice problem 4.3

In [6]:
sd=fact_table[['quantity','unit_price','total_price']].std()
print(sd)

quantity        233.167596
unit_price        8.638702
total_price    4120.906268
dtype: float64

#### Practice problem 4.4

In [7]:
cunit=fact_table['unit'].mode()
print(cunit)

0    ct
Name: unit, dtype: object

#### Practice problem 4.5

In [8]:
skewness=fact_table[['quantity','unit_price','total_price']].skew()
print(skewness)

quantity       11.421689
unit_price      1.870001
total_price    10.550289
dtype: float64

#### Practice problem 4.6

In [10]:
median_of_total_price=fact_table['total_price'].median()
print(median_of_total_price)

240.0

#### Practice problem 4.7

In [11]:
sum_data=fact_table.groupby('coustomer_key')[['quantity','unit_price','total_price']].sum().reset_index()
print(sum_data)

     coustomer_key  quantity  unit_price  total_price
0          C000001        80       60.00       1060.0
1          C000002        20       18.00        360.0
2          C000003       278      100.50       3728.0
3          C000004      1219      100.75      19473.5
4          C000005       215      124.00       4313.0
...            ...       ...         ...          ...
1979       C001996        72       83.00       2145.0
1980       C001997       630       46.00       9400.0
1981       C001998        37       16.00        592.0
1982       C001999       247       91.00       4710.0
1983       C002000        98      123.00       2258.0

[1984 rows x 4 columns]

#### Practice problem 4.8

In [12]:
data=fact_table.groupby('coustomer_key').aggregate({'quantity':'sum','unit_price':['mean','min','max']})
print(data)

              quantity unit_price
                   sum       mean    min   max
coustomer_key
C000001             80  15.000000  10.00  20.0
C000002             20  18.000000  18.00  18.0
C000003            278  16.750000  12.00  29.0
C000004           1219  16.791667   6.75  26.0
C000005            215  24.800000  14.00  55.0
...                ...        ...    ...   ...
C001996             72  20.750000  12.00  42.0
C001997            630  15.333333  12.00  20.0
C001998             37  16.000000  16.00  16.0
C001999            247  22.750000  15.00  35.0
C002000             98  20.500000   9.00  44.0

[1984 rows x 4 columns]

#### Practice problem 4.9

In [13]:
data=pd.merge(fact_table,store_dim, on='store_key')
data=data.groupby('upazila').aggregate({'total_price':'sum','unit_price':['min','max']})
print(data)

                total_price unit_price
                        sum        min   max
upazila
Agargaon          180588.00       6.75  55.0
Baghaichari       210464.25       6.00  55.0
Balaganj          323197.75       6.75  53.0
Bashundhara R/A   465324.50       6.00  55.0
Bholahat          317127.75       6.00  53.0
Birganj           260203.50       6.00  55.0
Bishwanath        292397.25       6.75  55.0
Boira             196159.50       6.00  48.0
Borhanuddin       218102.00       6.00  48.0
Chadpur           202066.25       6.75  55.0
Dhanmondi         296917.75       6.00  48.0
Farmgate          204008.50       6.75  53.0
Fulbari           297245.25       6.00  53.0
Fulbaria          243455.00       6.00  55.0
Gaffargaon        400247.75       6.00  55.0
Gazipur Sadar     357561.25       6.75  53.0
Gournadi          160594.50       6.00  53.0
Jamalganj         234020.75       6.00  55.0
Jessore           304294.75       6.75  55.0
Kaligonj          259197.50       6.00  55.0
Kathalia          247891.25       6.00  55.0
Kawkhali          290529.50       6.00  53.0
Keranigong        274387.50       6.00  53.0
Kharpara          279935.75       6.00  53.0
Khetlal           258908.75       6.00  53.0
Khilgoan          257669.25       6.00  55.0
Komol Nagar       200745.75       6.00  55.0
Kulaura           166783.50       6.00  55.0
Magura            246563.75       6.00  55.0
Megna             427491.50       6.00  53.0
Mirpur-1          777261.25       6.00  55.0
Mohammadpur       296238.50       6.00  45.0
Nandail           176532.25       6.00  55.0
Narsingdi Sadar   354694.00       6.00  55.0
Rajshahi          286471.75       6.75  55.0
Ramgati           308020.00       6.00  53.0
Savar             244392.50       6.00  55.0
Sayedpur          135960.50       6.75  55.0
Sherpur           274747.75       6.00  55.0
Tahirpur          225339.50       6.00  55.0
Uttara            296594.50       6.00  48.0

#### Practice problem 4.10

In [14]:
correlation=fact_table['quantity'].corr(fact_table['total_price'])
print(correlation)

0.9779865332515268

#### Practice problem 4.11

In [16]:
correlation=fact_table['total_price'].corr(fact_table['quantity'])
print(correlation) 
print("I observed a correlation of approximately " + str(correlation) + " between the scores of unit_price and quantity. This suggests a strong positive correlation between the two columns.")

0.977986533251527
I observed a correlation of approximately 0.977986533251527 between the scores of unit_price and quantity. This suggests a strong positive correlation between the two columns.

#### Practice problem 4.12

In [17]:
table=fact_table[['quantity','unit_price','total_price']]
correlation=table.corr()
print(correlation)
print("Observing that all correlation values are close to 1, I can confidently conclude that there is a strong positive correlation.")

             quantity  unit_price  total_price
quantity     1.000000    0.015193     0.977987
unit_price   0.015193    1.000000     0.096378
total_price  0.977987    0.096378     1.000000
Observing that all correlation values are close to 1, I can confidently conclude that there is a strong positive correlation.